head {
    background-color: #474747;
}

body {
    background-color: #1ff297;
}

h1 {
    margin: 10px 4px;
    padding: 10px 25px;
    color: #333;
    font-family: Verdana,sans-serif;
    font-size: 46px;   
}

h2 {
    color: #333;
    padding: 10px 25px;
    margin: 6px 4px;
    font-family: Verdana, sans-serif;
    font-size: 34px;
}

h3 {
    color: #333;
    padding: 10px 25px;
    margin: 6px 4px;
    font-family: Verdana, sans-serif;
    font-size: 32px;
}
p {
    color: #333;
    padding: 2px 25px;
    margin: 4px 4px;
    font-family: Verdana,sans-serif;
    font-size: 14px;
}

hr {
    height: 3px;
    padding: 20px, 25px;
    margin: 10px 29px;
    border-width: 0;
    color: darkgray;
    background-color: darkgray;
}

button {
    background-color: white;
    margin: 6px 29px;
    font-size: 12px;
    border-radius: 8px;
    border:3px #008751;
    transition-duration: 0.4s;
    text-align: center;
    padding: 20px 25px;
    
}

button:hover{
    background-color: #008751;
    color: white; 
    
}

img {
    padding: 20px 25px;
}

iframe {
    margin: 10px 29px;
}

div {
    margin: 10px 29px;
}

th, td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #c9c9c9;
}

th{
    background-color: #008751;
    color:white;
    margin: 10px 29px;
    padding: 10px 15px;
}

table {
    margin: 10px 25px; 
    padding: 10px 4px;
    
}

a.buttonType:link, a.buttonType:visited {
    text-decoration: none;
    background-color: #1ff297;
    color: white;
    margin: 10px 25px;
    padding: 10px 4px;
    text-align: center;
    display: inline-block;
    font-family: Verdana,sans-serif;
    border: 3px solid #008751;
}

a.buttonType:hover, a.buttonType:active{
    text-decoration: underline;
    background-color: #008751;
}

a.normal:link, a:visited{
    text-decoration:none;
    color:white;
    padding: 2px 25px;
    margin: 4px 4px;
    font-family: Verdana,sans-serif;
}

a.nomal:hover, a.normal:active{
    text-decoration:underline;
}